body {
  font-family: 'Segoe UI', sans-serif;
}

header {
  background-image: url('https://cdn.pixabay.com/photo/2018/10/01/09/21/pets-3715733_960_720.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f3b287;
  text-shadow: 1px 1px 3px rgba(24, 8, 8, 0.6);
  }
  .col-md-4 mb-4 img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 10px;
    }
    .card {
      border: none;
      border-radius: 10px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
      padding: 20px;
      transition: transform 0.3s ease;
      }
      
      .card:hover {
      transform: translateY(-5px);
      }